{
    "presets": [
        ["env", {
            "targets": {
                "node": "current"
            }
        }]
    ],
    "plugins": [
		[
			"transform-runtime", {
				"polifill": false,
				"regenerator": true
			}
		]
	]
}